html,
body,
#configuration-override {
	height: 100%;
}

.configuration-override {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.configuration-override__footer {
	color: gray;
	margin-top: auto;
	margin-bottom: 20px;
}

.configuration-override__footer-version {
	text-align: right;
}
