html,
body {
	height: 100%;
}

#mock-panel {
	height: 100%;
}

.configuration-override {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.configuration-override__form-group {
	display: flex;
	flex-direction: row !important;
	margin: 20px;
}

.form-group__checkbox {
	width: 350px;
}

.configuration-override__footer {
	color: gray;
	margin-top: auto;
	margin-bottom: 20px;
}
